<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NauraSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A646ED0C1EC2403000E95F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A646ED231EC2403000E95F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A646ED2E1EC2403000E95F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
